#!/usr/bin/bash

# to enable mpeg4 vaapi HW acceleration anyway. comment out if its causing problems
#export VAAPI_MPEG4_ENABLED=true

# So that sxhkd can work with fish
export SXHKD_SHELL='/usr/bin/bash'

# Needed to enable VAAPI support in firefox (better video decode)
export MOZ_X11_EGL=1

#Originally for Zathura plugin, but now for anything in here (I SHOULD PUT SCRIPTS HERE NOT IN /usr/bin!!!)
export PATH="/home/tetsomina/.local/bin:$PATH"

# For scr
export REC_DIR="/home/tetsomina/Videos/"
export SCR_DIR="/home/tetsomina/Pictures/Screenshots/"

#Default editor
#export EDITOR="/usr/bin/emacsclient -nw"
export EDITOR="/usr/bin/nvim"

#Default browser for linkhandle script in newsboat
export BROWSER=/usr/bin/qutebrowser

# Default terminal
export TERMINAL=/usr/bin/urxvt

# SSH keys with pam-gnupg
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)

# Terminal command for rifle (file finder script)
#export TERMCMD="/usr/local/bin/termite -e"

# To get bumblebee and tlp to play nice
export RUNTIME_PM_DRIVER_BLACKLIST="nvidia" 

# Colorize howdoi output
HOWDOI_COLORIZE=1

#Uniform Qt and GTK appearance
export QT_QPA_PLATFORMTHEME=qt5ct
