# These are the 3 commands you will need for everything to work
# you can modify these commands as shown below in the respective subsections
xsel_command=xclip -selection clipboard
xdotool_command=xdotool sleep 0.2 type --delay 100
rofi_command=fzf --reverse --border=horizontal --no-info --header=' ' --prompt '☺ │ ' --pointer '― '

